html {
  scroll-behavior: smooth;
}

#carousel_p {
  color: rgb(90, 196, 81);
  background-color: rgb(85, 85, 197);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  opacity: 0.8;
  width: "4000";
}

main {
  background-color: rgba(66, 236, 66, 0.904);
}

div {
  color: rgb(6, 78, 15);
  background-color: rgb(240, 222, 222);
  text-align: left;
}

.waterless {
  color: #1d3d96;
  font-style: italic;
}

.schedule {
  padding-right: 400px;
}